//Dropbox Priceing page global //

.margin-0 {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span {
        margin: 0;
    }
}

@keyframes dropup {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5px);
    }
}
.gt-content {
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
}

.section-title {
    @include breakpoint(575) {
        h2 {
            padding-bottom: 10px;
        }
    }
}
.fe-heading {
    color: black;
    margin-bottom: 30px;
    @include breakpoint(575) {
        @include font(35, 42);
        margin-bottom: 10px;
    }
}
// <!-- Dropbox GT Page Hero Start -->

.dropbox-getting-hero {
    overflow: hidden;
    background: url(../images/getting-hero-bg.svg),
        linear-gradient(180deg, #0061fe 0%, #5f96ff 100%);
    background-position: 39% 39%;
    animation: bgposition 25s linear infinite alternate;
    padding: 70px 0 130px;
    background-size: contain;
    background-repeat: no-repeat;

    @include breakpoint(768) {
        padding: 30px 0 100px;
        animation-duration: 25s;
    }
    .getting-logo {
        margin: 0 auto;
        .icon {
            background: white;
            border-radius: 50px;
            @include height-width(60, 60);
            padding: 12px;
            @include breakpoint(768) {
                @include height-width(55, 55);
            }
            @include breakpoint(768) {
                padding: 10px;
                @include height-width(45, 45);
            }
        }
        .title {
            @include breakpoint(768) {
                @include font(34, 45);
            }
            @include breakpoint(375) {
                @include font(24, 32);
            }
        }
    }
    .getting-title {
        width: 100%;
        margin: 20px auto 0;
        h2 {
            color: white;
            padding: 0 40px;
            margin-bottom: 20px;
            @include breakpoint(768) {
                padding: 0;
                @include font(42, 50);
            }
        }
        h5 {
            color: white;
            padding: 0 20px;

            @include breakpoint(768) {
                padding: 0;
                @include font(16, 27);
            }
        }
    }
}

// <!-- Dropbox GT Page Hero End -->

// <!-- Dropbox GT Page Feature's Tab Start -->
.getting-tab-section {
    .getting-tab-menu {
        padding: 0 40px;
        border-radius: 20px;
        background: white;
        box-shadow: 0 2px 10px rgba(109, 108, 108, 0.39);
        transform: translateY(-50px);
        overflow: hidden;
        @include breakpoint(768) {
            padding: 0 20px;
        }
        @include breakpoint(575) {
            padding: 0 5px;
        }
        .tab-wrapper {
            .tabs {
                min-width: 50px;
                .tabs-meta {
                    gap: 2px;
                    padding: 20px 0;
                    .icon {
                        height: 37px;
                        width: 37px;
                        border-radius: 50%;
                        padding: 6px;

                        background: linear-gradient(
                            142.51deg,
                            #0061fe 10.59%,
                            #5f96ff 81.5%
                        );

                        img {
                            fill: red;
                        }
                    }
                    p {
                        color: $secondary;
                        @include breakpoint(768) {
                            display: none;
                        }
                    }
                }
                &::after {
                    content: "";
                    position: absolute;
                    height: 4px;
                    width: 90%;
                    border-radius: 50px;
                    bottom: -9px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    transition: all 0.3s ease;
                    background: linear-gradient(
                        142.51deg,
                        #0061fe 10.59%,
                        #5f96ff 81.5%
                    );
                }

                &:hover,
                :active {
                    .tabs-meta {
                        .icon {
                            transform: translateY(-2px);
                        }
                    }
                    &::after {
                        bottom: -1px;
                    }
                }
            }
        }
    }
}
// <!-- Dropbox GT Page Feature's Tab End -->

// <!-- Dropbox GT Page Tab Feature's Start -->
.getting-tab-features {
    .db-overview {
        .section-title {
            padding: 0 0 50px;
        }

        .overview-features {
            .features-wrapper {
                gap: 25px;
                justify-content: center;
                padding: 10px 0;

                .feature-card {
                    max-width: 425px;
                    width: 100%;
                    padding: 50px 25px 25px;
                    border-radius: 20px;
                    gap: 10px;
                    box-shadow: 0 0 30px rgba(109, 108, 108, 0.39);
                    @include breakpoint(575) {
                        padding: 35px 20px 20px;
                    }
                    .feature-image {
                        padding: 0 40px;
                        filter: drop-shadow(
                            1px 14px 35px rgba(34, 102, 230, 0.253)
                        );

                        .solar-circle {
                            left: 41%;
                            bottom: 15%;
                            span {
                                height: calc(100% + 40px);
                                width: 40%;
                            }
                        }
                    }

                    .feature-meta {
                        z-index: 11;
                        h3 {
                            color: $secondary;
                            margin-bottom: 20px;

                            @include breakpoint(575) {
                                font-size: 32px;
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }

        .db-explore-feature {
            padding: 80px 0;
            .explore-feature-wrapper {
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                gap: 25px;
                @include breakpoint(768) {
                    gap: 15px;
                }
                @include breakpoint(375) {
                    gap: 5px;
                }
                .single-fe-card {
                    border-radius: 12px;
                    overflow: hidden;
                    padding-top: 20px;

                    .card-logo {
                        &::after {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 30px;
                            background-color: #ecebf5;
                            bottom: 0;
                            border-radius: 12px 12px 0 0;
                        }
                        .features-logo-bg {
                            transition: all 1s ease;
                        }
                    }
                    .fe-meta {
                        background: #ecebf5;
                        padding: 15px;
                        h5 {
                            margin-bottom: 10px;
                            font-weight: 700;
                        }
                    }

                    &:hover {
                        .card-logo {
                            .features-logo-bg {
                                animation: dropup 1s infinite alternate;
                            }
                        }
                    }
                }
            }
        }
    }
}
// <!-- Dropbox GT Page Tab Feature's End -->

// <!-- Dropbox GT Basic Usage Page Start -->

.getting-user-manual {
    .gt-manual {
        .user-manual-wrapper {
            gap: 25px;
            .user-manuals {
                border-radius: 10px;
                border: 1px solid #ecebf5;
                overflow: hidden;
                gap: 10px;
                .manual-header {
                    padding: 20px;
                    background: #ecebf5;
                    border-radius: 0 0 10px 10px;
                }
                .manual-content {
                    padding: 10px 20px 20px;

                    display: none;

                    .content-meta {
                        h5 {
                            font-weight: 600;
                            margin-bottom: 20px;
                        }

                        h6 {
                            margin-bottom: 20px;
                        }

                        strong {
                            font-weight: 600;
                            @include transition;
                            background: linear-gradient(
                                180deg,
                                #0061fe 0%,
                                #5f96ff 100%
                            );
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }

                        a {
                            color: $primary;
                            font-weight: 600;
                            position: relative;
                            &::before {
                                content: "";
                                width: 0;
                                height: 1px;
                                transition: all 1s ease;
                                position: absolute;
                                background-color: $primary;
                                bottom: 0;
                            }
                            &:hover {
                                &::before {
                                    width: 100%;
                                }
                            }
                        }
                        ol {
                            padding: 0 40px;
                            margin-bottom: 20px;

                            li {
                                @include font(20, 38);
                                &::marker {
                                    font-weight: bold;
                                    color: #476df4;
                                }
                            }
                        }

                        ul {
                            padding: 0 40px;
                            margin-bottom: 20px;
                            list-style: none;
                            li {
                                @include font(20, 38);
                                position: relative;
                                padding-left: 10px;
                                &::before {
                                    content: url(../images/ul-pointer.svg);
                                    position: absolute;
                                    left: -25px;
                                    bottom: -4px;
                                }
                            }
                        }

                        img {
                            margin: 20px 0;
                            width: 100%;
                            aspect-ratio: 16/9;
                            border-radius: 12px;
                        }
                    }
                }
            }
        }
    }
}
// <!-- Dropbox GT Basic Usage Page End -->
