//Dropbox Priceing page global //

.margin-0 {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span {
        margin: 0;
    }
}

.section-margin-bottom {
    margin-bottom: 170px;

    @include breakpoint(880) {
        margin-bottom: 100px;
    }
    @include breakpoint(575) {
        margin-bottom: 50px;
    }
}
.plan-checkmark {
    height: 25px;
    width: 25px;
    background: linear-gradient(90deg, #0061fe 0%, #5f96ff 100%);
    border-radius: 50%;
    margin-right: 10px;
}
.wrong-checkbox {
    transition: all 0.7s cubic-bezier(0.78, 0, 0.33, 1.01);
    background: linear-gradient(90deg, #ff9397 0%, #ff0909 100%);
    &::after {
        content: "";
        position: absolute;
        width: 17px;
        height: 3px;
        border-radius: 10px;
        background-color: $text;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 11px;
    }

    @extend .plan-checkmark;
}
.right-checkbox {
    transition: all 0.7s cubic-bezier(0.78, 0, 0.33, 1.01);
    &:after,
    &:before {
        background-color: $primary;
    }
    &::after {
        content: "";
        position: absolute;
        height: 8px;
        width: 3px;
        border-radius: 10px;
        transform: rotate(315deg);
        top: 10px;
        right: 15px;
    }
    &::before {
        content: "";
        position: absolute;
        height: 13px;
        width: 3px;
        border-radius: 10px;
        transform: rotate(226deg);
        bottom: 6px;
        right: 8.8px;
    }

    &:after,
    &:before {
        background-color: $text;
    }

    @extend .plan-checkmark;
}

.togol {
    transform: rotate(-90deg);
    transition: all 0.4s ease;

    &::after,
    &::before {
        content: "";
        position: absolute;
        height: 10px;
        width: 2px;
        border-radius: 10px;
        background-color: #f3f3f3;
    }

    &::before {
        -webkit-transform: rotate(-40deg);
        transform: rotate(-45deg);
        bottom: 10px;
        right: 10px;
    }
    &::after {
        -webkit-transform: rotate(40deg);
        transform: rotate(45deg);
        top: 11px;
        right: 10px;
    }

    @extend .plan-checkmark;
}
.compare-area-grid {
    grid-template-columns: minmax(90px, 1fr) repeat(2, minmax(60px, 170px));
}

.license-btn {
    border: 1px solid #a8adb3;
    padding: 8px 24px;
    color: $text;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    &:focus,
    &:hover,
    &.active {
        background: linear-gradient(
            180deg,
            #476df4 -12.76%,
            #6083ff 38.44%,
            #89a3ff 139.29%
        );
    }

    @include font(17, 28);
}

// Dropbox Pricing Header Section Start //
.dropbox-pricing-hero {
    overflow: hidden;
    padding-top: 80px;
    background-image: url(../images/hero-bg.svg);
    background-position: 39% 39%;
    animation: bgposition 20s linear infinite alternate;

    @include breakpoint(768) {
        padding-top: 30px;
    }

    .section-title {
        h2,
        h4 {
            color: $text;
            display: inherit;
        }
        h2 {
            @include breakpoint(700) {
                flex-direction: column;
                display: flex;

                .gradent-text {
                    font-size: 62px;
                }
            }
            @include breakpoint(575) {
                .gradent-text {
                    font-size: 52px;
                }
            }
        }
    }
}
// Dropbox Pricing Header Section End //

//Dropbox Pricing-Plan Section Start //
.dropbox-pricing-area {
    .dropbox-pricing-bg {
        width: 100%;
        height: 60%;
        bottom: 0;
        background: $text;
        z-index: -11;
        border-radius: 150px 150px 0 0;
        @include breakpoint(1024) {
            border-radius: 100px 100px 0 0;
        }
        @include breakpoint(768) {
            height: 80%;
        }
    }
    .dropbox-pricing-wrapper {
        .pricing-checkbox {
            margin: 50px auto;
            gap: 20px;

            @include breakpoint(575) {
                margin: 30px auto;
            }

            .dropbox-checkbox-button {
                width: 200px;
                height: 50px;
                padding: 10px;
                border-radius: 50px;
                background-color: white;
                justify-content: space-between;

                &::after {
                    content: "";
                    position: absolute;
                    height: 70%;
                    width: 90px;
                    border-radius: 50px;
                    transition: all 0.4s ease;
                    background: linear-gradient(
                        142.51deg,
                        #0061fe 10.59%,
                        #5f96ff 81.5%
                    );
                }

                .checkbox-label-before,
                .checkbox-label-after {
                    width: 90px;
                    padding: 4px 9px;
                    @extend .p-relative;
                    z-index: 11;
                }

                .checkbox-label-before {
                    h5 {
                        color: $text;
                    }
                }
            }

            &.active-switcher {
                .dropbox-checkbox-button {
                    &::after {
                        transform: translateX(90px);
                    }
                    .checkbox-label-before {
                        h5 {
                            color: black;
                        }
                    }
                    .checkbox-label-after {
                        h5 {
                            color: white;
                        }
                    }
                }
            }
        }

        .plan-option-wrapper {
            grid-template-columns: repeat(auto-fit, minmax(338px, 1fr));
            justify-items: center;
            gap: 30px;
            max-width: 90%;
            margin: 0 auto;
            padding-bottom: 30px;
            @include breakpoint(1024) {
                max-width: 100%;
            }
            .planing-section {
                max-width: 578px;
                width: 100%;
                border-radius: 20px;
                background: $text;
                box-shadow: 1px 5px 20px $body;

                .features-meta {
                    height: 100%;
                    gap: 2px;
                    padding: 30px 50px;
                    @include breakpoint(1100) {
                        padding: 30px 30px;
                    }
                    @include breakpoint(768) {
                        padding: 30px;
                    }
                    @include breakpoint(575) {
                        padding: 20px;
                    }
                    .plan-header {
                        h4 {
                            color: $body;
                            @include font(24, 35);
                            @include breakpoint(768) {
                                @include font(20, 30);
                            }
                        }
                    }
                    .priceing-wrapper {
                        gap: 35px;
                        .plan-priceing {
                            gap: 5px;
                            .price-title {
                                h2 {
                                    background: linear-gradient(
                                        to left,
                                        #99adf7 -12.76%,
                                        #5967ff 60.94%
                                    );
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                    @include font(44, 50);
                                    letter-spacing: -2px;

                                    @include breakpoint(768) {
                                        @include font(35, 40);
                                    }
                                }
                            }

                            .db-free-price {
                                gap: 5px;

                                h5 {
                                    padding-top: 12px;
                                    @include font(15, 24);
                                }
                            }
                            .db-pro-price-wrap {
                                gap: 10px;
                                .db-pro-price {
                                    width: 98%;
                                    align-items: center;
                                    gap: 10px;

                                    @include breakpoint(768) {
                                        row-gap: 5px;
                                    }
                                    .regular-price-wrapper {
                                        .regular-price {
                                            // display: none;
                                            h3 {
                                                color: $body;
                                                text-decoration: line-through;
                                                @include font(30, 50);
                                                @include breakpoint(820) {
                                                    @include font(25, 30);
                                                }
                                            }

                                            &.active {
                                                display: flex;
                                            }
                                        }
                                    }
                                    .price-off {
                                        color: $text;
                                        padding: 10px 18px;
                                        background: linear-gradient(
                                            37deg,
                                            rgba(237, 28, 36, 1) 0%,
                                            rgba(252, 236, 33, 1) 100%
                                        );
                                        border-radius: 50px;
                                        @extend .margin-0;

                                        @include breakpoint(820) {
                                            padding: 10px;
                                        }

                                        h5 {
                                            @include font(15, 15);
                                            @include breakpoint(820) {
                                                @include font(12, 10);
                                            }
                                        }
                                    }
                                    .offer-price-wrapper {
                                        .offer-price {
                                            width: 100%;
                                            gap: 5px;
                                            h2 {
                                                @include font(48, 50);
                                                @include breakpoint(768) {
                                                    @include font(35, 40);
                                                }
                                            }
                                            h5 {
                                                padding-top: 12px;
                                                @include font(15, 24);
                                            }
                                        }
                                    }
                                }
                            }

                            &::after {
                                content: "";
                                position: absolute;
                                width: 100%;
                                height: 3px;
                                background-color: #99adf7;
                                border-radius: 3px;
                                bottom: -12px;
                            }
                        }
                        .pro-pricing-site-btn {
                            width: 150px;
                            background: linear-gradient(
                                to left,
                                #99adf7 -12.76%,
                                #5967ff 60.94%
                            );
                            border-radius: 30px;
                            padding: 2px;
                            .site-amount-fill {
                                padding: 1.5px 10px;
                                border-radius: 30px;

                                background: white;
                                h6 {
                                    font-weight: 800;
                                    background: linear-gradient(
                                        to left,
                                        #99adf7 -12.76%,
                                        #5967ff 60.94%
                                    );
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                }
                                &::after {
                                    content: "";
                                    position: absolute;
                                    height: 7px;
                                    width: 7px;
                                    border: 2px solid;
                                    border-color: #5967ff #5967ff transparent
                                        transparent;
                                    right: 10px;
                                    transform: rotate(-45deg);
                                    margin: auto;
                                    top: 5px;
                                    bottom: 0;
                                    right: 12px;
                                    @include transition;
                                }
                            }
                            .amount-dropdown {
                                position: absolute;
                                z-index: 9;
                                width: 100%;

                                transform: translateY(-3px);
                                visibility: hidden;
                                opacity: 0;
                                transition: all 0.3s ease;
                                li {
                                    width: 100%;
                                    padding: 2px 13px;
                                    border-radius: 30px;
                                    border: 1px solid #99adf7;
                                    transition: all 0.3s ease;
                                    background: white;
                                    text-align: center;
                                    &:hover {
                                        background: linear-gradient(
                                            to left,
                                            #99adf7 -12.76%,
                                            #5967ff 60.94%
                                        );
                                        color: white;
                                    }

                                    &.active {
                                        background: linear-gradient(
                                            to left,
                                            #99adf7 -12.76%,
                                            #5967ff 60.94%
                                        );
                                        color: white;
                                    }

                                    &:nth-child(2) {
                                        transform: translateY(-10px);
                                    }
                                    &:nth-child(3) {
                                        transform: translateY(-20px);
                                    }
                                }
                            }

                            &:hover {
                                .site-amount-fill {
                                    &::after {
                                        top: -5px;
                                        transform: rotate(135deg);
                                    }
                                }
                                .amount-dropdown {
                                    padding-top: 5px;
                                    transform: translateY(0px);
                                    visibility: visible;
                                    opacity: 1;

                                    li {
                                        &:nth-child(2) {
                                            transform: translateY(3px);
                                        }
                                        &:nth-child(3) {
                                            transform: translateY(6px);
                                        }
                                    }
                                }
                            }
                        }

                        .plan-features {
                            .features {
                                gap: 7px;

                                .feature-mark-logo {
                                    width: 24px;
                                    height: 24px;
                                    background-image: url("../images/feature-mark.svg");
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                }
                            }
                            gap: 15px;
                        }
                    }
                    .btn {
                        margin-top: 50px;
                        border: 1px solid #5f96ff;
                        color: #5f96ff;
                        background: $text;

                        @include breakpoint(575) {
                            margin-top: 20px;
                            padding: 6px 25px;
                        }

                        &:hover {
                            background: #5f96ff;
                            color: $text;
                        }
                    }
                }

                &.plan-pro {
                    .btn {
                        background: #5f96ff;
                        color: $text;
                        &:hover {
                            background: $text;
                            color: #5f96ff;
                        }
                    }
                }
            }
        }
    }
}
// Pricing-Plan Section End //

// Compare Plans Section Start //

.compare-plans {
    padding: 50px 0;

    .compare-area {
        width: 100%;
        max-width: 980px;
        margin: 15px auto 0;
        border-radius: 12px;
        box-shadow: 0 0 50px rgb(170, 167, 167);
        overflow: hidden;
        h3 {
            margin: 0;
            @include font(32, 32);
        }

        .compare-area-header {
            grid-template-columns: minmax(90px, 1fr) repeat(
                    2,
                    minmax(60px, 170px)
                );

            background: linear-gradient(
                180deg,
                #0061fe 0%,

                #5f96ff 100%
            );
            padding: 30px 40px;
            border-radius: 12px 12px 0 0;

            @include breakpoint(768) {
                padding: 20px 30px;
            }
            @include breakpoint(575) {
                padding: 15px 20px;
                grid-template-columns: minmax(90px, 1fr) repeat(
                        2,
                        minmax(60px, 120px)
                    );
            }

            &::before {
                content: "";
                position: absolute;
                height: 4px;
                width: 90%;
                background: linear-gradient(
                    180deg,
                    #0061fe 0%,

                    #5f96ff 100%
                );
                border-radius: 20px;
                left: 0;
                right: 0;
                margin: 0 auto;
                bottom: -3px;
            }

            h3 {
                @include breakpoint(768) {
                    font-size: 25px;
                    line-height: 20px;
                }
                @include breakpoint(575) {
                    font-size: 18px;
                    line-height: 20px;
                }
            }

            .free-option-header {
                h3 {
                    color: $text;
                }
            }
            .pro-option-header {
                h3 {
                    display: flex;
                    justify-content: flex-end;
                    &::after {
                        content: "";
                        position: absolute;
                        height: 35px;
                        width: 35px;
                        background-image: url("../images/crown-logo.svg");
                        background-repeat: no-repeat;
                        background-size: cover;
                        right: 68px;
                        top: 0;
                        bottom: 34%;
                        margin: auto;
                        @include breakpoint(768) {
                            right: 30%;
                        }
                        @include breakpoint(575) {
                            height: 25px;
                            width: 25px;
                            right: 40px;
                        }
                    }
                }
            }
        }
        .compare-area-features {
            .features-category {
                .compare-feature {
                    &:not(:last-child) {
                        border-bottom: 2px solid #f3f3f380;
                    }

                    &:first-child {
                        border-top: 2px solid #f3f3f380;
                    }
                    .compare-feature-wrap {
                        transition: margin 2s ease-out;
                        .features-title {
                            padding: 20px 40px;
                            align-items: center;
                            border-radius: 10px;
                            grid-template-columns: 35px minmax(80px, 1fr) repeat(
                                    2,
                                    minmax(60px, 170px)
                                );

                            @include breakpoint(575) {
                                padding: 20px 20px;
                                grid-template-columns: 35px minmax(80px, 1fr) repeat(
                                        2,
                                        minmax(60px, 120px)
                                    );
                            }

                            h4 {
                                margin: 0;
                                @include breakpoint(768) {
                                    font-size: 16px;
                                    line-height: 20px;
                                }
                            }

                            &::after {
                                content: "";
                                height: 1px;
                                width: 90%;
                                border-radius: 10px;
                                background-color: #a8adb3;
                                position: absolute;
                                bottom: 0;
                                right: 5%;
                                scale: 0.5;
                                opacity: 0;
                                transition: all 0.5s
                                    cubic-bezier(0, 1.73, 0.58, 1);
                                transition-delay: 0.3s;
                            }
                        }

                        h5 {
                            display: none;
                            padding: 20px 40px;
                            @include breakpoint(768) {
                                font-size: 14px;
                                line-height: 20px;
                            }
                        }

                        &.actives {
                            .features-title {
                                &::after {
                                    scale: 1;
                                    opacity: 1;
                                }
                                .togol {
                                    transform: rotate(90deg);
                                }
                            }
                        }

                        &:hover,
                        :focus {
                            @include transition;
                            background-color: rgba(242, 204, 243, 0.315);
                        }
                    }
                }
            }
        }
    }
}
// Compare Plans Section End //

// Live Demo Section Start //
.live-demo {
    .live-demo-wrapper {
        background: #d9d9d908;
        padding: 55px 60px;
        border-radius: 20px;

        @include breakpoint(880) {
            text-align: center;
        }
        @include breakpoint(768) {
            padding: 30px;
        }

        .live-demo-title {
            @include font(32, 57);
        }
        .live-demo-content {
            flex-wrap: wrap;
            gap: 30px;
            @include breakpoint(880) {
                justify-content: center;
            }
            h5 {
                flex: 1 0 67%;
            }
            .btn {
                flex: 0.5 0 210px;
            }
        }
    }
}
// Live Demo Section End //
// Frequently asked questions Section Start //
.asked-question {
    padding: 70px 0;
    z-index: 99;
    &::before {
        content: "";
        @extend .background-circle;
        z-index: -1;
    }
    @include breakpoint(575) {
        padding: 20px 0;
    }
    .questions-wrapper {
        max-width: 980px;
        width: 100%;
        margin: auto;
        gap: 20px;

        .single-questions {
            background-color: $text;
            border-radius: 6px;
            box-shadow: 0 0 40px rgb(236, 233, 233);

            .single-questions-title {
                grid-template-columns: 1fr 30px;
                padding: 20px 40px;
                @include breakpoint(768) {
                    padding: 20px;
                }
                &::after {
                    content: "";
                    height: 1px;
                    width: 90%;
                    border-radius: 10px;
                    background-color: #a8adb3;
                    position: absolute;
                    bottom: 0;
                    right: 5%;
                    scale: 0.5;
                    opacity: 0;
                    transition: all 0.5s cubic-bezier(0, 1.73, 0.58, 1);
                    transition-delay: 0.3s;
                }
                &:hover {
                    background: -webkit-linear-gradient(
                        270deg,
                        #ea9d23 16.44%,
                        #d7d7d7 103.5%
                    );
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            h5 {
                padding: 15px 40px;
                display: none;
                @include breakpoint(768) {
                    padding: 20px;
                }
            }

            &.open-answer {
                .single-questions-title {
                    background: -webkit-linear-gradient(
                        270deg,
                        #ea9d23 16.44%,
                        #d7d7d7 103.5%
                    );
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                    &::after {
                        scale: 1;
                        opacity: 1;
                    }
                }
                .togol {
                    transform: rotate(90deg);
                }
            }
        }
    }
}
// Frequently asked questions Section End //

// Call To Action Start //

.call-to-action-section {
    padding: 50px 0;
    z-index: 1;
    &::before {
        content: "";
        @extend .background-circle;
        z-index: -1;
    }
    @include breakpoint(575) {
        padding: 20px 0;
    }
    .container {
        .call-to-action {
            padding: 40px 20px;
            border-radius: 30px;
            box-shadow: 1px 1px 20px #616161;
            background: $text;
            @include breakpoint(768) {
                .section-title {
                    padding: 0 0 20px 0;

                    h2 {
                        font-size: 35px;
                        line-height: 42px;
                    }
                }
            }

            .call-to-action-wrapper {
                gap: 10px;
                margin-top: 10px;
                .btn {
                    width: 200px;
                    border: 1px solid #5f96ff;
                    color: #5f96ff;
                    background: #fff;
                    &:hover {
                        background-color: #5f96ff;
                        color: $text;
                    }
                    &:last-child {
                        color: $text;
                        background: #5f96ff;
                        &:hover {
                            color: #5f96ff;
                            background: #fff;
                        }
                    }

                    @include breakpoint(575) {
                        width: 180px;
                        padding: 10px 10px;
                        @include font(18, 20);
                    }
                }
                @include breakpoint(425) {
                    flex-wrap: wrap;
                }
            }
        }
    }
}

// Call To Action End //
