//Dropbox Priceing page global //

.margin-0 {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span {
        margin: 0;
    }
}

.section-margin-bottom {
    margin-bottom: 170px;
    @include breakpoint(880) {
        margin-bottom: 100px;
    }
    @include breakpoint(575) {
        margin-bottom: 50px;
    }
}
.plan-checkmark {
    height: 25px;
    width: 25px;
    background: linear-gradient(
        180deg,
        #89a3ff -12.76%,
        #5967ff 60.94%,
        #443a96 139.29%
    );
    border-radius: 50%;
    margin-right: 10px;
}
.wrong-checkbox {
    background: #ea9d23 !important;
    &::after {
        content: "";
        position: absolute;
        height: 15px;
        width: 3px;
        border-radius: 10px;
        background-color: #0d064a;
        transform: rotate(45deg);
        top: 5.3px;
        right: 10.9px;
    }
    &::before {
        bottom: 5px;
        content: "";
        position: absolute;
        height: 15px;
        width: 3px;
        border-radius: 10px;
        background-color: #0d064a;
        transform: rotate(-45deg);
        bottom: 5px;
        right: 10.6px;
    }

    @extend .plan-checkmark;
}
.right-checkbox {
    &:after,
    &:before {
        background-color: $primary;
    }
    &::after {
        content: "";
        position: absolute;
        height: 8px;
        width: 3px;
        border-radius: 10px;
        transform: rotate(315deg);
        top: 10px;
        right: 15px;
    }
    &::before {
        content: "";
        position: absolute;
        height: 13px;
        width: 3px;
        border-radius: 10px;
        transform: rotate(226deg);
        bottom: 6px;
        right: 8.8px;
    }
    &.bg-white {
        &:after,
        &:before {
            background-color: $text;
        }
    }
    @extend .plan-checkmark;
}

.togol {
    transform: rotate(-90deg);
    transition: all 0.4s ease;
    background: linear-gradient(
        180deg,
        rgba(137, 163, 255, 0.5) -12.76%,
        rgba(89, 103, 255, 0.5) 60.94%,
        rgba(68, 58, 150, 0.5) 139.29%
    );

    &::after {
        content: "";
        position: absolute;
        height: 10px;
        width: 2px;
        border-radius: 10px;
        background-color: #f3f3f3;
        -webkit-transform: rotate(40deg);
        transform: rotate(45deg);
        top: 11px;
        right: 10px;
    }

    &::before {
        content: "";
        position: absolute;
        height: 10px;
        width: 2px;
        border-radius: 10px;
        background-color: #f3f3f3;
        -webkit-transform: rotate(-40deg);
        transform: rotate(-45deg);
        bottom: 10px;
        right: 10px;
    }

    @extend .plan-checkmark;
}
.compare-area-grid {
    grid-template-columns: minmax(90px, 1fr) repeat(2, minmax(60px, 170px));
}

.license-btn {
    border: 1px solid #a8adb3;
    padding: 8px 24px;
    color: $text;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    &:focus,
    &:hover,
    &.active {
        background: linear-gradient(
            180deg,
            #476df4 -12.76%,
            #6083ff 38.44%,
            #89a3ff 139.29%
        );
    }

    @include font(17, 28);
}

// Dropbox Pricing Header Section Start //
.dropbox-pricing-hero {
    overflow: hidden;
    padding: 80px 0 400px;
    background-image: url(../images/hero-bg.svg);
    background-position: 39% 39%;
    animation: bgposition 20s linear infinite alternate;

    .section-title {
        h2,
        h4 {
            color: $text;
        }
    }
}
// Dropbox Pricing Header Section End //

//Dropbox Pricing-Plan Section Start //
.dropbox-pricing-area {
    border-radius: 150px 150px 0 0;

    .dropbox-pricing-wrapper {
        transform: translateY(-400px);

        .pricing-checkbox {
            margin: 50px auto;
            gap: 20px;

            @include breakpoint(575) {
                margin: 30px auto;
            }

            .dropbox-checkbox-button {
                width: 200px;
                height: 50px;
                padding: 10px;
                border-radius: 50px;
                background-color: white;
                justify-content: space-between;

                &::after {
                    content: "";
                    position: absolute;
                    height: 70%;
                    width: 90px;
                    border-radius: 50px;
                    transition: all 0.4s ease;
                    background: linear-gradient(
                        142.51deg,
                        #0061fe 10.59%,
                        #5f96ff 81.5%
                    );
                }

                .checkbox-label-before,
                .checkbox-label-after {
                    width: 90px;
                    padding: 4px 9px;
                    @extend .p-relative;
                    z-index: 11;
                }

                .checkbox-label-before {
                    h5 {
                        color: $text;
                    }
                }
            }

            &.active-switcher {
                .dropbox-checkbox-button {
                    &::after {
                        transform: translateX(90px);
                    }
                    .checkbox-label-before {
                        h5 {
                            color: black;
                        }
                    }
                    .checkbox-label-after {
                        h5 {
                            color: white;
                        }
                    }
                }
            }
        }

        .plan-option-wrapper {
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            justify-items: center;
            gap: 30px;
            max-width: 90%;
            margin: 0 auto;

            .planing-section {
                height: 1124px;
                max-width: 578px;
                width: 100%;
                border-radius: 20px;
                background: $text;
                box-shadow: 1px 10px 20px $body;

                .features-meta {
                    gap: 2px;
                    padding: 20px 55px;
                    @include breakpoint(1100) {
                        padding: 30px 40px;
                    }
                    @include breakpoint(768) {
                        padding: 20px;
                    }
                    .plan-header {
                        h4 {
                            color: $body;
                            @include font(24, 35);
                            @include breakpoint(768) {
                                @include font(20, 30);
                            }
                        }
                    }
                    .priceing-wrapper {
                        gap: 35px;
                        .plan-priceing {
                            gap: 5px;
                            .price-title {
                                h2 {
                                    background: linear-gradient(
                                        to left,
                                        #99adf7 -12.76%,
                                        #5967ff 60.94%
                                    );
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                    @include font(44, 50);
                                    letter-spacing: -2px;
                                    @include breakpoint(820) {
                                        @include font(35, 60);
                                    }
                                }
                            }

                            .db-free-price {
                                gap: 5px;

                                h5 {
                                    @include font(15, 24);
                                }
                            }

                            .db-pro-price {
                                align-items: center;
                                gap: 10px;
                                .regular-price-wrapper {
                                    .regular-price {
                                        // display: none;
                                        h3 {
                                            color: $body;
                                            text-decoration: line-through;
                                            @include font(30, 50);
                                            @include breakpoint(820) {
                                                @include font(25, 30);
                                            }
                                        }

                                        &.active {
                                            display: flex;
                                        }
                                    }
                                }
                                .price-off {
                                    color: black;
                                    padding: 10px 18px;
                                    background-color: #ea9d23;
                                    border-radius: 50px;
                                    @extend .margin-0;

                                    @include breakpoint(820) {
                                        padding: 10px;
                                    }

                                    h5 {
                                        @include font(15, 15);
                                        @include breakpoint(820) {
                                            @include font(15, 10);
                                        }
                                    }
                                }
                                .offer-price-wrapper {
                                    .offer-price {
                                        gap: 5px;
                                        h2 {
                                            @include font(48, 50);
                                            @include breakpoint(820) {
                                                @include font(35, 60);
                                            }
                                        }
                                        h5 {
                                            @include font(15, 24);
                                        }
                                    }
                                }
                            }

                            &::after {
                                content: "";
                                position: absolute;
                                width: 100%;
                                height: 3px;
                                background-color: #99adf7;
                                border-radius: 3px;
                                bottom: -12px;
                            }
                        }
                        .pro-pricing-site-btn {
                            width: 90px;
                            .site-amount-fill {
                                padding: 2px 13px;
                                border-radius: 30px;

                                background: linear-gradient(
                                    142.51deg,
                                    #0061fe 10.59%,
                                    #5f96ff 81.5%
                                );
                                h5 {
                                    color: $text;
                                }
                                &::after {
                                    content: "";
                                    position: absolute;
                                    height: 7px;
                                    width: 7px;
                                    border: 2px solid;
                                    border-color: white white transparent
                                        transparent;
                                    right: 10px;
                                    transform: rotate(-45deg);
                                    margin: auto;
                                    top: 5px;
                                    bottom: 0;
                                    right: 12px;
                                    @include transition;
                                }
                            }
                            .amount-dropdown {
                                position: absolute;
                                z-index: 9;
                                width: 100%;
                                height: 100px;
                                transform: translateY(0px);
                                visibility: hidden;
                                opacity: 0;
                                transition: all 0.3s ease;
                                li {
                                    position: absolute;
                                    width: 100%;
                                    padding: 2px 13px;
                                    border-radius: 30px;
                                    border: 1px solid #99adf7;
                                    transition: all 0.3s ease;
                                    background: white;
                                    text-align: center;
                                    &:hover {
                                        // border: inherit;
                                        background: linear-gradient(
                                            142.51deg,
                                            #0061fe 10.59%,
                                            #5f96ff 81.5%
                                        );
                                        color: white;
                                    }

                                    &.active {
                                        background: linear-gradient(
                                            142.51deg,
                                            #0061fe 10.59%,
                                            #5f96ff 81.5%
                                        );
                                        color: white;
                                    }
                                }
                            }

                            &:hover {
                                .site-amount-fill {
                                    &::after {
                                        top: -5px;
                                        transform: rotate(135deg);
                                    }
                                }
                                .amount-dropdown {
                                    transform: translateY(3px);
                                    visibility: visible;
                                    opacity: 1;

                                    li {
                                        &:nth-child(2) {
                                            transform: translateY(34px);
                                        }
                                        &:nth-child(3) {
                                            transform: translateY(68px);
                                        }
                                    }
                                }
                            }
                        }

                        .plan-features {
                            gap: 10px;
                        }
                    }
                    .btn {
                        margin: 0 auto;
                        width: 90%;
                    }
                }
            }
        }
    }
}
// Pricing-Plan Section End //

// Compare Plans Section Start //

.compare-plans {
    .compare-area {
        width: 100%;
        max-width: 980px;
        height: 900px;
        margin: auto;
        border-radius: 20px;
        background: rgba(89, 89, 89, 0.07);

        h3 {
            margin: 0;
            @include font(32, 32);
        }

        .compare-area-header {
            grid-template-columns: minmax(90px, 1fr) repeat(
                    2,
                    minmax(60px, 170px)
                );

            background: linear-gradient(
                180deg,
                rgba(217, 217, 217, 0.07) 0%,
                rgba(75, 75, 75, 0.0379167) 45.83%,
                rgba(103, 103, 103, 0.0469) 100%
            );
            padding: 35px 40px;
            border-radius: 20px 20px 0 0;

            @include breakpoint(768) {
                padding: 20px 30px;
            }
            @include breakpoint(575) {
                padding: 15px 30px;
            }

            h3 {
                @include breakpoint(768) {
                    font-size: 25px;
                    line-height: 20px;
                }
                @include breakpoint(575) {
                    font-size: 18px;
                    line-height: 20px;
                }
            }

            .free-option-header {
                h3 {
                    color: rgba(171, 175, 192, 0.75);
                }
            }
        }
        .compare-area-features {
            padding: 0 40px;
            @include breakpoint(768) {
                padding: 0 30px;
            }
            .fratures-category {
                .compare-feature {
                    padding: 20px 0;
                    border-bottom: 2px solid #f3f3f380;
                    @include breakpoint(768) {
                        padding: 10px 0;
                    }
                    &:first-child {
                        border-top: 2px solid #f3f3f380;
                    }
                    details {
                        transition: margin 2s ease-out;
                        .features-title {
                            align-items: center;
                            grid-template-columns: 35px minmax(80px, 1fr) repeat(
                                    2,
                                    minmax(60px, 170px)
                                );

                            h4 {
                                margin: 0;
                                @include breakpoint(768) {
                                    font-size: 15px;
                                    line-height: 20px;
                                }
                            }
                        }

                        h5 {
                            transition: all 0.3s ease;
                            margin: 15px 0 0 0;
                            @include breakpoint(768) {
                                font-size: 11px;
                                line-height: 20px;
                            }
                        }

                        &[open] {
                            .features-title {
                                .togol {
                                    transform: rotate(90deg);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// Compare Plans Section End //

// Live Demo Section Start //
.live-demo {
    .live-demo-wrapper {
        background: #d9d9d908;
        padding: 55px 60px;
        border-radius: 20px;

        @include breakpoint(880) {
            text-align: center;
        }
        @include breakpoint(768) {
            padding: 30px;
        }

        .live-demo-title {
            @include font(32, 57);
        }
        .live-demo-content {
            flex-wrap: wrap;
            gap: 30px;
            @include breakpoint(880) {
                justify-content: center;
            }
            h5 {
                flex: 1 0 67%;
            }
            .btn {
                flex: 0.5 0 210px;
            }
        }
    }
}
// Live Demo Section End //
// Frequently asked questions Section Start //
.asked-question {
    .questions-wrapper {
        max-width: 980px;
        width: 100%;
        margin: auto;
        gap: 20px;
        .single-questions {
            summary {
                grid-template-columns: 1fr 30px;
            }
            padding: 20px 40px;
            background-color: #28225c;
            border-radius: 6px;
            @include breakpoint(768) {
                padding: 20px;
            }

            &[open] {
                summary {
                    background: -webkit-linear-gradient(
                        270deg,
                        #ea9d23 16.44%,
                        #d7d7d7 103.5%
                    );
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                .togol {
                    transform: rotate(90deg);
                }
                h5 {
                    margin-top: 20px;
                    padding-right: 100px;
                    @include breakpoint(768) {
                        padding-right: 10px;
                    }
                }
            }
        }
    }
}
// Frequently asked questions Section End //
